body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #a995bf;
    padding: 20px 30px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    border: none !important;
}

fieldset {
    border: none;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

fieldset label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

fieldset input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset input[type="submit"] {
    background-color: #a995bf;
    border: none;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* My Application Page */
.content {
    text-align: center;
}

/* Login Page */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: none;
}

form label, form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #a995bf;
    border: none;
    color: white;
    cursor: pointer;
}

